test/node-red/flows.json
[
    {
        "id": "caef1e7b5b399e80",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "557aec8e8c47e61e",
        "type": "hb-conf",
        "username": "031-45-154",
        "macAddress": ""
    },
    {
        "id": "902c5887b6877df6",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "a866ae0bb24ce682",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "f2b5f7e909917c8b",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "3d7babac3a298e60"
            ]
        ]
    },
    {
        "id": "3d7babac3a298e60",
        "type": "hb-status",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom00000043",
        "conf": "557aec8e8c47e61e",
        "x": 500,
        "y": 40,
        "wires": [
            [
                "902c5887b6877df6"
            ]
        ]
    },
    {
        "id": "452e3e6171aa7a25",
        "type": "hb-resume",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom00000043",
        "conf": "557aec8e8c47e61e",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "1093ab38b01fd39f"
            ]
        ]
    },
    {
        "id": "1093ab38b01fd39f",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ed3cd7e0d60beda",
        "type": "hb-control",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom Fan",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Fan",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom Fan00000040",
        "conf": "557aec8e8c47e61e",
        "outputs": 0,
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "6703815a8874b156",
        "type": "hb-control",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom00000043",
        "conf": "557aec8e8c47e61e",
        "outputs": 1,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "f194fc4bcb1997a9"
            ]
        ]
    },
    {
        "id": "24660f9d2862cee9",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": true, \"RotationSpeed\": 33}",
        "payloadType": "json",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "0ed3cd7e0d60beda"
            ]
        ]
    },
    {
        "id": "8c0ecac45b01df73",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": false}",
        "payloadType": "json",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "0ed3cd7e0d60beda"
            ]
        ]
    },
    {
        "id": "b14ebf264be0c60d",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": true}",
        "payloadType": "json",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "6703815a8874b156"
            ]
        ]
    },
    {
        "id": "f872545e74246764",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": false}",
        "payloadType": "json",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "6703815a8874b156"
            ]
        ]
    },
    {
        "id": "7eae7b87f319966e",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "6703815a8874b156",
                "0ed3cd7e0d60beda"
            ]
        ]
    },
    {
        "id": "6a7b40f6149f2d36",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Off\": false}",
        "payloadType": "json",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "6703815a8874b156"
            ]
        ]
    },
    {
        "id": "80ffdbb93cd24b48",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": true}",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "452e3e6171aa7a25"
            ]
        ]
    },
    {
        "id": "d0e413b3c28f757a",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": false}",
        "payloadType": "json",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "452e3e6171aa7a25"
            ]
        ]
    },
    {
        "id": "82638dac6ac32bb1",
        "type": "hb-event",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom00000043",
        "conf": "557aec8e8c47e61e",
        "sendInitialState": true,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "a866ae0bb24ce682"
            ]
        ]
    },
    {
        "id": "f194fc4bcb1997a9",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    }
]