test/node-red/flows.json
[
    {
        "id": "caef1e7b5b399e80",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ddaa42d2292b69e2",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75c3fcfcb21ddc3a",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "efb3c9c5f6bdfd6c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "4138921fd7b9a926",
        "type": "tab",
        "label": "Flow 5",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7e647d67.f33acc",
        "type": "hb-conf",
        "username": "031-45-154",
        "macAddress": ""
    },
    {
        "id": "df5dd49178c517fa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "902c5887b6877df6",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "a866ae0bb24ce682",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "f2b5f7e909917c8b",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "3d7babac3a298e60"
            ]
        ]
    },
    {
        "id": "3d7babac3a298e60",
        "type": "hb-status",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom00000043",
        "conf": "7e647d67.f33acc",
        "x": 500,
        "y": 40,
        "wires": [
            [
                "902c5887b6877df6"
            ]
        ]
    },
    {
        "id": "452e3e6171aa7a25",
        "type": "hb-resume",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom00000043",
        "conf": "7e647d67.f33acc",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "1093ab38b01fd39f"
            ]
        ]
    },
    {
        "id": "1093ab38b01fd39f",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ed3cd7e0d60beda",
        "type": "hb-control",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom Fan",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Fan",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom Fan00000040",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "6703815a8874b156",
        "type": "hb-control",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 1,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "f194fc4bcb1997a9"
            ]
        ]
    },
    {
        "id": "24660f9d2862cee9",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": true, \"RotationSpeed\": 33}",
        "payloadType": "json",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "0ed3cd7e0d60beda"
            ]
        ]
    },
    {
        "id": "8c0ecac45b01df73",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": false}",
        "payloadType": "json",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "0ed3cd7e0d60beda"
            ]
        ]
    },
    {
        "id": "b14ebf264be0c60d",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": true}",
        "payloadType": "json",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "6703815a8874b156"
            ]
        ]
    },
    {
        "id": "f872545e74246764",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": false}",
        "payloadType": "json",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "6703815a8874b156"
            ]
        ]
    },
    {
        "id": "7eae7b87f319966e",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "6703815a8874b156",
                "0ed3cd7e0d60beda"
            ]
        ]
    },
    {
        "id": "6a7b40f6149f2d36",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Off\": false}",
        "payloadType": "json",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "6703815a8874b156"
            ]
        ]
    },
    {
        "id": "80ffdbb93cd24b48",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": true}",
        "payloadType": "json",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "452e3e6171aa7a25"
            ]
        ]
    },
    {
        "id": "d0e413b3c28f757a",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": false}",
        "payloadType": "json",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "452e3e6171aa7a25"
            ]
        ]
    },
    {
        "id": "82638dac6ac32bb1",
        "type": "hb-event",
        "z": "caef1e7b5b399e80",
        "name": "West Bedroom",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaWest Bedroom00000043",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "a866ae0bb24ce682"
            ]
        ]
    },
    {
        "id": "f194fc4bcb1997a9",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "12ce98441601c981",
        "type": "hb-event",
        "z": "caef1e7b5b399e80",
        "name": "Driveway",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "MotionSensor",
        "device": "ECI-T24F2CB:6F:94:DD:43:77HikVisionDriveway00000085",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "e2919464e7c4ab5c",
                "08bc0ab3e3f2439f"
            ]
        ]
    },
    {
        "id": "6216377792cba653",
        "type": "hb-control",
        "z": "caef1e7b5b399e80",
        "name": "Driveway 8E52",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "CameraRTPStreamManagement",
        "device": "ECI-T24F2CB:6F:94:DD:43:77HikVisionDriveway 8E5200000110",
        "conf": "7e647d67.f33acc",
        "outputs": 1,
        "x": 940,
        "y": 500,
        "wires": [
            [
                "9dc75e95be7ba465",
                "12d2a40f6441c49c"
            ]
        ]
    },
    {
        "id": "08bc0ab3e3f2439f",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "e2919464e7c4ab5c",
        "type": "switch",
        "z": "caef1e7b5b399e80",
        "name": "",
        "property": "payload.MotionDetected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "4982be53458df3a8"
            ]
        ]
    },
    {
        "id": "4982be53458df3a8",
        "type": "change",
        "z": "caef1e7b5b399e80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 500,
        "wires": [
            [
                "6216377792cba653"
            ]
        ]
    },
    {
        "id": "9dc75e95be7ba465",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 1120,
        "y": 500,
        "wires": []
    },
    {
        "id": "25a7fbf22f944415",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"MotionDetected\": 1 }",
        "payloadType": "json",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "e2919464e7c4ab5c"
            ]
        ]
    },
    {
        "id": "12d2a40f6441c49c",
        "type": "file",
        "z": "caef1e7b5b399e80",
        "name": "",
        "filename": "/Users/sgracey/Desktop/image.jpeg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1210,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4b787bfb023ccf23",
        "type": "hb-event",
        "z": "caef1e7b5b399e80",
        "name": "Backyard",
        "Homebridge": "Default Model",
        "Manufacturer": "NRCHKB - LaCrosse-TX141W",
        "Service": "TemperatureSensor",
        "device": "Default Model69:62:B7:AE:38:D4NRCHKB - LaCrosse-TX141WBackyard0000008A",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "c68bef6563c5d07e"
            ]
        ]
    },
    {
        "id": "c68bef6563c5d07e",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "3c36252a6f45eed9",
        "type": "hb-status",
        "z": "caef1e7b5b399e80",
        "name": "Backyard Tree",
        "Homebridge": "Default Model",
        "Manufacturer": "NRCHKB - LaCrosse-TX141Bv3",
        "Service": "TemperatureSensor",
        "device": "Default Model69:62:B7:AE:38:D4NRCHKB - LaCrosse-TX141Bv3Backyard Tree0000008A",
        "conf": "7e647d67.f33acc",
        "x": 360,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "3b7537939b63eee8",
        "type": "inject",
        "z": "caef1e7b5b399e80",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "3c36252a6f45eed9"
            ]
        ]
    },
    {
        "id": "aabce5ff7fbbeec6",
        "type": "status",
        "z": "caef1e7b5b399e80",
        "name": "",
        "scope": [
            "3d7babac3a298e60",
            "452e3e6171aa7a25",
            "0ed3cd7e0d60beda",
            "6703815a8874b156",
            "82638dac6ac32bb1",
            "6216377792cba653",
            "12ce98441601c981",
            "4b787bfb023ccf23",
            "3c36252a6f45eed9"
        ],
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "94f051597d18eaa3"
            ]
        ]
    },
    {
        "id": "94f051597d18eaa3",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "status.source.name",
        "statusType": "msg",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "296297c79b544f59",
        "type": "catch",
        "z": "caef1e7b5b399e80",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "0073218b1ebc53f1"
            ]
        ]
    },
    {
        "id": "0073218b1ebc53f1",
        "type": "debug",
        "z": "caef1e7b5b399e80",
        "name": "Catch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 1190,
        "y": 280,
        "wires": []
    },
    {
        "id": "834248faa510b756",
        "type": "hb-event",
        "z": "ddaa42d2292b69e2",
        "name": "Backyard",
        "Homebridge": "homebridge",
        "Manufacturer": "Eufy",
        "Service": "MotionSensor",
        "device": "homebridge0E:89:A7:DA:D3:21EufyBackyard00000085",
        "conf": "7e647d67.f33acc",
        "sendInitialState": false,
        "x": 100,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "55f84c7bfb7c121e",
        "type": "hb-control",
        "z": "ddaa42d2292b69e2",
        "name": "Backyard",
        "Homebridge": "homebridge",
        "Manufacturer": "Eufy",
        "Service": "CameraRTPStreamManagement",
        "device": "homebridge0E:89:A7:DA:D3:21EufyBackyard00000110",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "a5a864e72e6e8864",
        "type": "hb-event",
        "z": "ddaa42d2292b69e2",
        "name": "Master",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaMaster00000043",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "81f4056eb30cf459"
            ]
        ]
    },
    {
        "id": "81f4056eb30cf459",
        "type": "debug",
        "z": "ddaa42d2292b69e2",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "eb734b7121195eba",
        "type": "hb-event",
        "z": "75c3fcfcb21ddc3a",
        "name": "Driveway",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "MotionSensor",
        "device": "ECI-T24F2CB:6F:94:DD:43:77HikVisionDriveway00000085",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "8d57eff4a6076d16",
                "a23e0ecde6232863"
            ]
        ]
    },
    {
        "id": "a23e0ecde6232863",
        "type": "debug",
        "z": "75c3fcfcb21ddc3a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 460,
        "wires": []
    },
    {
        "id": "0444f0b25db4ab46",
        "type": "inject",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"MotionDetected\": 1 }",
        "payloadType": "json",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "8d57eff4a6076d16"
            ]
        ]
    },
    {
        "id": "8d57eff4a6076d16",
        "type": "switch",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "property": "payload.MotionDetected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "97682489f01f08f1"
            ]
        ]
    },
    {
        "id": "97682489f01f08f1",
        "type": "change",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "8229d18be155be73"
            ]
        ]
    },
    {
        "id": "549ec0882c597df6",
        "type": "debug",
        "z": "75c3fcfcb21ddc3a",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "name & ' - ' & description",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "76b3d2f6cd1e4bd0",
        "type": "link out",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "links": [],
        "x": 1135,
        "y": 320,
        "wires": []
    },
    {
        "id": "594fc20707b9c9df",
        "type": "hb-event",
        "z": "75c3fcfcb21ddc3a",
        "name": "Deck",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "MotionSensor",
        "device": "ECI-T24F28E:88:AB:7A:D0:54HikVisionDeck00000085",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "9426fa3f44ce52cb",
                "41d308dfed51e431"
            ]
        ]
    },
    {
        "id": "9be24ad9c95d527b",
        "type": "hb-control",
        "z": "75c3fcfcb21ddc3a",
        "name": "Deck 6EED",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "CameraRTPStreamManagement",
        "device": "ECI-T24F28E:88:AB:7A:D0:54HikVisionDeck 6EED00000110",
        "conf": "7e647d67.f33acc",
        "outputs": 1,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "549ec0882c597df6"
            ]
        ]
    },
    {
        "id": "9426fa3f44ce52cb",
        "type": "switch",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "property": "payload.MotionDetected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "70fe5beb0b66b983"
            ]
        ]
    },
    {
        "id": "70fe5beb0b66b983",
        "type": "change",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "9be24ad9c95d527b"
            ]
        ]
    },
    {
        "id": "70057fa8f9dce3d8",
        "type": "hb-event",
        "z": "75c3fcfcb21ddc3a",
        "name": "Canoe",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "MotionSensor",
        "device": "ECI-T24F25C:EE:FE:4D:64:B4HikVisionCanoe00000085",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "9f70a1f585fd7dc0",
                "6c7475363a807644"
            ]
        ]
    },
    {
        "id": "4953d9b78fbedf4f",
        "type": "hb-control",
        "z": "75c3fcfcb21ddc3a",
        "name": "Canoe 5036",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "CameraRTPStreamManagement",
        "device": "ECI-T24F25C:EE:FE:4D:64:B4HikVisionCanoe 503600000110",
        "conf": "7e647d67.f33acc",
        "outputs": 1,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "549ec0882c597df6"
            ]
        ]
    },
    {
        "id": "9f70a1f585fd7dc0",
        "type": "switch",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "property": "payload.MotionDetected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "b8d28e61f01b0bbf"
            ]
        ]
    },
    {
        "id": "b8d28e61f01b0bbf",
        "type": "change",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "4953d9b78fbedf4f"
            ]
        ]
    },
    {
        "id": "3d33b0ffdbaa181a",
        "type": "hb-event",
        "z": "75c3fcfcb21ddc3a",
        "name": "Porch",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "MotionSensor",
        "device": "ECI-T24F2C1:BB:DE:42:A5:39HikVisionPorch00000085",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "5c38e473617fc92b",
                "6775fe2f7a1a5dcd"
            ]
        ]
    },
    {
        "id": "a02e763b600c57a7",
        "type": "hb-control",
        "z": "75c3fcfcb21ddc3a",
        "name": "Porch B6AE",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "CameraRTPStreamManagement",
        "device": "ECI-T24F2C1:BB:DE:42:A5:39HikVisionPorch B6AE00000110",
        "conf": "7e647d67.f33acc",
        "outputs": 1,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "549ec0882c597df6"
            ]
        ]
    },
    {
        "id": "5c38e473617fc92b",
        "type": "switch",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "property": "payload.MotionDetected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "05f15068ece7986f"
            ]
        ]
    },
    {
        "id": "05f15068ece7986f",
        "type": "change",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "a02e763b600c57a7"
            ]
        ]
    },
    {
        "id": "41d308dfed51e431",
        "type": "debug",
        "z": "75c3fcfcb21ddc3a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 520,
        "wires": []
    },
    {
        "id": "6c7475363a807644",
        "type": "debug",
        "z": "75c3fcfcb21ddc3a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "6775fe2f7a1a5dcd",
        "type": "debug",
        "z": "75c3fcfcb21ddc3a",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "e8106cc582d782cc",
        "type": "catch",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 640,
        "wires": [
            [
                "8e8a4ef83e6242fd"
            ]
        ]
    },
    {
        "id": "8e8a4ef83e6242fd",
        "type": "debug",
        "z": "75c3fcfcb21ddc3a",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 300,
        "y": 640,
        "wires": []
    },
    {
        "id": "d03872db5c80112d",
        "type": "inject",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"MotionDetected\": 1 }",
        "payloadType": "json",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "9426fa3f44ce52cb"
            ]
        ]
    },
    {
        "id": "aba241f6f08c6f9e",
        "type": "inject",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"MotionDetected\": 1 }",
        "payloadType": "json",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "9f70a1f585fd7dc0"
            ]
        ]
    },
    {
        "id": "ea7662762ddf0375",
        "type": "inject",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"MotionDetected\": 1 }",
        "payloadType": "json",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "5c38e473617fc92b"
            ]
        ]
    },
    {
        "id": "7a2475461de482b4",
        "type": "debug",
        "z": "75c3fcfcb21ddc3a",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "6931422fe286da17",
        "type": "hb-event",
        "z": "75c3fcfcb21ddc3a",
        "name": "Backyard",
        "Homebridge": "homebridge",
        "Manufacturer": "Eufy",
        "Service": "MotionSensor",
        "device": "homebridge0E:89:A7:DA:D3:21EufyBackyard00000085",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "7a2475461de482b4",
                "bc1dbdc71f651f70"
            ]
        ]
    },
    {
        "id": "bc1dbdc71f651f70",
        "type": "switch",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "property": "payload.MotionDetected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "88b52aba34898978"
            ]
        ]
    },
    {
        "id": "88b52aba34898978",
        "type": "change",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "92080aad1c772833"
            ]
        ]
    },
    {
        "id": "92080aad1c772833",
        "type": "hb-control",
        "z": "75c3fcfcb21ddc3a",
        "name": "Backyard",
        "Homebridge": "homebridge",
        "Manufacturer": "Eufy",
        "Service": "CameraRTPStreamManagement",
        "device": "homebridge0E:89:A7:DA:D3:21EufyBackyard00000110",
        "conf": "7e647d67.f33acc",
        "outputs": 1,
        "x": 640,
        "y": 60,
        "wires": [
            [
                "ff4aa1872b3f1c61"
            ]
        ]
    },
    {
        "id": "4608897d6be5abf0",
        "type": "hb-event",
        "z": "75c3fcfcb21ddc3a",
        "name": "Side door",
        "Homebridge": "homebridge",
        "Manufacturer": "Eufy",
        "Service": "MotionSensor",
        "device": "homebridge0E:89:A7:DA:D3:21EufySide door00000085",
        "conf": "7e647d67.f33acc",
        "sendInitialState": true,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "31f78afed56c7b31",
                "7a2475461de482b4"
            ]
        ]
    },
    {
        "id": "31f78afed56c7b31",
        "type": "switch",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "property": "payload.MotionDetected",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "5be0436d655882ca"
            ]
        ]
    },
    {
        "id": "5be0436d655882ca",
        "type": "change",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "542bdc76466cccc1"
            ]
        ]
    },
    {
        "id": "542bdc76466cccc1",
        "type": "hb-control",
        "z": "75c3fcfcb21ddc3a",
        "name": "Side door",
        "Homebridge": "homebridge",
        "Manufacturer": "Eufy",
        "Service": "CameraRTPStreamManagement",
        "device": "homebridge0E:89:A7:DA:D3:21EufySide door00000110",
        "conf": "7e647d67.f33acc",
        "outputs": 1,
        "x": 640,
        "y": 100,
        "wires": [
            [
                "ff4aa1872b3f1c61"
            ]
        ]
    },
    {
        "id": "0c51149918b663a3",
        "type": "inject",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"MotionDetected\": 1 }",
        "payloadType": "json",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "31f78afed56c7b31"
            ]
        ]
    },
    {
        "id": "72c938dab7d2fa8e",
        "type": "inject",
        "z": "75c3fcfcb21ddc3a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"MotionDetected\": 1 }",
        "payloadType": "json",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "bc1dbdc71f651f70"
            ]
        ]
    },
    {
        "id": "ff4aa1872b3f1c61",
        "type": "function",
        "z": "75c3fcfcb21ddc3a",
        "name": "function 2",
        "func": "msg.MinConfidence = 70;\nmsg.people = 99;\nlet image = msg.payload;\n\nmsg.payload = {};\nmsg.payload.name = msg.name;\nmsg.payload.people = 99;\nmsg.payload.image = image;\nmsg.description = 'Eufy People';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 80,
        "wires": [
            [
                "76b3d2f6cd1e4bd0",
                "d7d047f06fe0ac63"
            ]
        ]
    },
    {
        "id": "d7d047f06fe0ac63",
        "type": "debug",
        "z": "75c3fcfcb21ddc3a",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "8229d18be155be73",
        "type": "hb-control",
        "z": "75c3fcfcb21ddc3a",
        "name": "Driveway 8E52",
        "Homebridge": "ECI-T24F2",
        "Manufacturer": "HikVision",
        "Service": "CameraRTPStreamManagement",
        "device": "ECI-T24F2CB:6F:94:DD:43:77HikVisionDriveway 8E5200000110",
        "conf": "7e647d67.f33acc",
        "outputs": 1,
        "x": 600,
        "y": 220,
        "wires": [
            [
                "549ec0882c597df6"
            ]
        ]
    },
    {
        "id": "010efd22c1b6e439",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Table Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Table Light00000043",
        "conf": "7e647d67.f33acc",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "72bd2d51087ce799",
                "0987572378c4101c"
            ]
        ]
    },
    {
        "id": "72bd2d51087ce799",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Table Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Table Light00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "ad54d21c61a8d7fb",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Floor Lamp One",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Floor Lamp One00000043",
        "conf": "7e647d67.f33acc",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "81148cb8a661a9d4",
                "8a60ee6cec4ca7e4"
            ]
        ]
    },
    {
        "id": "81148cb8a661a9d4",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Floor Lamp One",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Floor Lamp One00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a917b28d8421fbf",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Floor Lamp Two",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Floor Lamp Two00000043",
        "conf": "7e647d67.f33acc",
        "x": 580,
        "y": 280,
        "wires": [
            [
                "e7671cdf7ca08bdb",
                "29ef1290a4393e23"
            ]
        ]
    },
    {
        "id": "e7671cdf7ca08bdb",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Floor Lamp Two",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Floor Lamp Two00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "09aa3bc57223e1d7",
        "type": "inject",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": true}",
        "payloadType": "json",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "49a103299064c61a",
                "4d03a7e3277b96e4"
            ]
        ]
    },
    {
        "id": "899072eff954f19e",
        "type": "inject",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": false}",
        "payloadType": "json",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "49a103299064c61a"
            ]
        ]
    },
    {
        "id": "8a60ee6cec4ca7e4",
        "type": "debug",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Kitchen Sink",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "2194286c838b7d5e",
        "type": "debug",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "5f2718e15c1d2268",
        "type": "debug",
        "z": "efb3c9c5f6bdfd6c",
        "name": "State",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "0987572378c4101c",
        "type": "debug",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Table",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 910,
        "y": 40,
        "wires": []
    },
    {
        "id": "1d740eb38c6e04d3",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Alice’s Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Alice’s Light00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "49a103299064c61a",
        "type": "join",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.200",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "5f2718e15c1d2268",
                "6a917b28d8421fbf",
                "ad54d21c61a8d7fb",
                "010efd22c1b6e439"
            ]
        ]
    },
    {
        "id": "4d03a7e3277b96e4",
        "type": "join",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.100",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "1d740eb38c6e04d3",
                "03d7f28b92211006"
            ]
        ]
    },
    {
        "id": "03d7f28b92211006",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Side Counter",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Outlet",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaSide Counter00000047",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "29ef1290a4393e23",
        "type": "debug",
        "z": "efb3c9c5f6bdfd6c",
        "name": "State",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "24d42f55865cf219",
        "type": "debug",
        "z": "efb3c9c5f6bdfd6c",
        "name": "State",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "bafb7d2c0a674363",
        "type": "join",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.100",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "f8e02da296cf46c1",
                "793b832372283d1a"
            ]
        ]
    },
    {
        "id": "f8e02da296cf46c1",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Alice’s Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Alice’s Light00000043",
        "conf": "7e647d67.f33acc",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "ef51cc04e563c2b4"
            ]
        ]
    },
    {
        "id": "ef51cc04e563c2b4",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Alice’s Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Signify Netherlands B.V.",
        "Service": "Lightbulb",
        "device": "homebridgeCC:22:3D:E3:CF:33Signify Netherlands B.V.Alice’s Light00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "793b832372283d1a",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Patio Room",
        "Homebridge": "homebridge",
        "Manufacturer": "Hunter Fan",
        "Service": "Lightbulb",
        "device": "homebridge0E:F4:E9:FC:AD:D1Hunter FanPatio Room00000043",
        "conf": "7e647d67.f33acc",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "eddabe00a19c7019"
            ]
        ]
    },
    {
        "id": "eddabe00a19c7019",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Patio Room",
        "Homebridge": "homebridge",
        "Manufacturer": "Hunter Fan",
        "Service": "Lightbulb",
        "device": "homebridge0E:F4:E9:FC:AD:D1Hunter FanPatio Room00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "6bd69f69e77b53f5",
        "type": "join",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.100",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 580,
        "wires": [
            [
                "df8098be03036599",
                "7ceb11204ab233ad",
                "9b3b66754785038a",
                "f05573c2da6e5a95"
            ]
        ]
    },
    {
        "id": "df8098be03036599",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Bunkie Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaBunkie Light00000043",
        "conf": "7e647d67.f33acc",
        "x": 570,
        "y": 640,
        "wires": [
            [
                "a5668e0297b801de"
            ]
        ]
    },
    {
        "id": "7ceb11204ab233ad",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Bunkie Fan",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Fan",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaBunkie Fan00000040",
        "conf": "7e647d67.f33acc",
        "x": 570,
        "y": 680,
        "wires": [
            [
                "2abd3edc55335405"
            ]
        ]
    },
    {
        "id": "9b3b66754785038a",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Bunkie Upper",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaBunkie Upper00000043",
        "conf": "7e647d67.f33acc",
        "x": 580,
        "y": 720,
        "wires": [
            [
                "149d4526b10a9f65"
            ]
        ]
    },
    {
        "id": "f05573c2da6e5a95",
        "type": "hb-resume",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Bunkie Fan Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaBunkie Fan Light00000043",
        "conf": "7e647d67.f33acc",
        "x": 590,
        "y": 760,
        "wires": [
            [
                "200d1506e958ee58"
            ]
        ]
    },
    {
        "id": "c7aa6df53ac112dd",
        "type": "catch",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "f3466f804ebc55de"
            ]
        ]
    },
    {
        "id": "f3466f804ebc55de",
        "type": "debug",
        "z": "efb3c9c5f6bdfd6c",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 340,
        "y": 680,
        "wires": []
    },
    {
        "id": "a5668e0297b801de",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Bunkie Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaBunkie Light00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "2abd3edc55335405",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Bunkie Fan",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Fan",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaBunkie Fan00000040",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 790,
        "y": 680,
        "wires": []
    },
    {
        "id": "149d4526b10a9f65",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Bunkie Upper",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaBunkie Upper00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "200d1506e958ee58",
        "type": "hb-control",
        "z": "efb3c9c5f6bdfd6c",
        "name": "Bunkie Fan Light",
        "Homebridge": "homebridge",
        "Manufacturer": "Tasmota",
        "Service": "Lightbulb",
        "device": "homebridge1C:22:3D:E3:CF:34TasmotaBunkie Fan Light00000043",
        "conf": "7e647d67.f33acc",
        "outputs": 0,
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "d6f10c868ae159d2",
        "type": "inject",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": true}",
        "payloadType": "json",
        "x": 150,
        "y": 20,
        "wires": [
            [
                "e7671cdf7ca08bdb"
            ]
        ]
    },
    {
        "id": "c25be79ed205ceea",
        "type": "inject",
        "z": "efb3c9c5f6bdfd6c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\": false}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "e7671cdf7ca08bdb"
            ]
        ]
    },
    {
        "id": "5a0779448d4dcdb3",
        "type": "mqtt in",
        "z": "4138921fd7b9a926",
        "name": "",
        "topic": "home/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "df5dd49178c517fa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "4510eba830da4c9d"
            ]
        ]
    },
    {
        "id": "d82488396ae950bf",
        "type": "debug",
        "z": "4138921fd7b9a926",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "device",
        "statusType": "msg",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f6d507ccce7460f",
        "type": "switch",
        "z": "4138921fd7b9a926",
        "name": "",
        "property": "shortTopic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SYStoMQTT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "version",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LWT",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "d82488396ae950bf"
            ],
            [],
            [
                "1649c3dc535b26f2"
            ],
            [
                "d7a34617ef5e9f31"
            ]
        ]
    },
    {
        "id": "45cb1d621afc9b52",
        "type": "debug",
        "z": "4138921fd7b9a926",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "auto",
        "x": 320,
        "y": 360,
        "wires": []
    },
    {
        "id": "4510eba830da4c9d",
        "type": "function",
        "z": "4138921fd7b9a926",
        "name": "function 3",
        "func": "const [home, device, shortTopic] = msg.topic.split(\"/\");\nmsg.shortTopic = shortTopic;\nmsg.device = device;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "6f6d507ccce7460f",
                "45cb1d621afc9b52"
            ]
        ]
    },
    {
        "id": "d7a34617ef5e9f31",
        "type": "debug",
        "z": "4138921fd7b9a926",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "shortTopic",
        "statusType": "msg",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "1649c3dc535b26f2",
        "type": "debug",
        "z": "4138921fd7b9a926",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "device",
        "statusType": "msg",
        "x": 720,
        "y": 200,
        "wires": []
    }
]