docs/sample.json
[{
  "id": "f6b220ec.346fb",
  "type": "hb-event",
  "z": "5b8927c7.362aa",
  "name": "Powder Room",
  "Homebridge": "Penny",
  "Manufacturer": "Heyu",
  "Service": "Lightbulb",
  "device": "PennyCC:22:3D:E3:CE:30HeyuPowder Room00000043",
  "conf": "31bc5779.36b6d",
  "x": 110,
  "y": 160,
  "wires": [
    ["7a5f2d2.a7e97d4"]
  ]
}, {
  "id": "d4da68ec.20bdf",
  "type": "hb-control",
  "z": "5b8927c7.362aa",
  "name": "Powder Room",
  "Homebridge": "Penny",
  "Manufacturer": "Heyu",
  "Service": "Lightbulb",
  "device": "PennyCC:22:3D:E3:CE:30HeyuPowder Room00000043",
  "conf": "31bc5779.36b6d",
  "x": 640,
  "y": 220,
  "wires": []
}, {
  "id": "7a5f2d2.a7e97d4",
  "type": "switch",
  "z": "5b8927c7.362aa",
  "name": "Splitter",
  "property": "payload.On",
  "propertyType": "msg",
  "rules": [{
    "t": "true"
  }, {
    "t": "false"
  }],
  "checkall": "true",
  "repair": false,
  "outputs": 2,
  "x": 280,
  "y": 160,
  "wires": [
    ["9e302ddd.ac5518", "1aa0c674.73a582"],
    ["9e302ddd.ac5518"]
  ]
}, {
  "id": "1aa0c674.73a582",
  "type": "function",
  "z": "5b8927c7.362aa",
  "name": "Invert",
  "func": "(msg.payload.On ? msg.payload.On = false : msg.payload.On = true)\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 250,
  "y": 280,
  "wires": [
    ["ac575609.98b698"]
  ]
}, {
  "id": "ac575609.98b698",
  "type": "delay",
  "z": "5b8927c7.362aa",
  "name": "",
  "pauseType": "delay",
  "timeout": "10",
  "timeoutUnits": "seconds",
  "rate": "1",
  "nbRateUnits": "1",
  "rateUnits": "second",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": false,
  "x": 420,
  "y": 280,
  "wires": [
    ["d4da68ec.20bdf", "9e302ddd.ac5518"]
  ]
}, {
  "id": "9e302ddd.ac5518",
  "type": "hb-control",
  "z": "5b8927c7.362aa",
  "name": "Outside Office",
  "Homebridge": "Leonard-Dev",
  "Manufacturer": "mqttthing",
  "Service": "Lightbulb",
  "device": "Leonard-DevAC:22:3D:E3:CE:30mqttthingOutside Office00000043",
  "conf": "31bc5779.36b6d",
  "x": 640,
  "y": 280,
  "wires": []
}, {
  "id": "31bc5779.36b6d",
  "type": "hb-conf",
  "z": "",
  "username": "031-45-154"
}]
